<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}


<div  style="text-align: center">
  <div class="jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <!-- <p class="lead"> <span>"Morton Technologies"</span></p> -->
      <h1 class="display-3 mb-1"><strong><font color="white">Morton Technologies</font></strong></h1></p>
      <br>
      <h2 class="display-3 mb-1"><strong><font color="white">Developing Software To Bring Every Mind To Its Fullist Potential</font></strong></h2></p>
    </div>
  </div>
</html>
