<!DOCTYPE html>
<html lang="en">

{% include 'base.html' %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Login</title>

</head>

  <div class="jumbotron bg-cover">
    <div class="overlay"></div>
    <div class="container">
      <h2 class="display-3 mb-1"><strong><font color="white">Developing Software To Bring Every Mind To Its Fullist Potential</font></strong></h2></p>
      <p class="lead"> <span></span></p>
    </div>
  </div>

        </div>
          <div class="col-md-2"></div>
      </form>
    </div>
  </div>
</body>
</html>
